<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  <p>Title</p>
   <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit'Update Book' %>
<% end %>
<!--おそらくshowとback作る-->
<%= link_to "show", book_path(@book.id) %>
<!--ここにたぶん戻るボタン-->
<%= link_to "back", books_path(@book.id) %>