<div>
<%=   flash[:notice]  %>
</div>

<h1>Books</h1>

 <!--ここに本の一覧（リストを作る？テーブル？）-->
 <% @books.each do |book| %>
  <p>Title</p>
  <span><%= book.title %></span>
  <p>Body</p>
  <span><%= book.body %></span>
  <span>
    <%= link_to "Show", book_path(book.id) %>
  </span>

  <span>
    <%= link_to "Edit", edit_book_path(book.id) %>
  </span>

  <span>
    <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  </span>

<% end %>

 <h2>New Book</h2>
 <!--バリデーション-->
 <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!--バリデーション終わり-->

 <%= form_with model: Book.new do |f| %>
  <p>Title</p>
   <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

<%= f.submit'Create Book' %>
<% end %>

